@import url("//at.alicdn.com/t/c/font_4550583_4jceks9os0u.css");
/* .iconfont {
  font-size: 1rem;
} */
.icon-aixin {
  font-size: 0.6rem;
  /* color: #e5404f; */
}
.icon-aixin1 {
  font-size: 0.6rem;
}
.icon-tuichudenglu {
  font-size: 24px;
}