@import url("//at.alicdn.com/t/c/font_4550583_1nytj123mwl.css");
/* .iconfont {
  font-size: 1rem;
} */
.icon-aixin {
  font-size: 0.6rem;
  /* color: #e5404f; */
}
.icon-un {
  color: #c20c0c;
}
.icon-aixin1 {
  font-size: 0.6rem;
}
.icon-tuichudenglu {
  font-size: 24px;
}
.icon-bofang {
  cursor: pointer;
}