.songsContainer {
  overflow-x: auto;
  width: 100%;
  height: 8rem;
  margin-top: 0.5rem;
  &::-webkit-scrollbar {
    display: none;
  }
  .songs {
    display: flex;
    transition: transform 0.5s ease;
    .song {
      flex: 0 0 5rem;
      height: 6rem;
      margin-left: 0.5rem;
      background: var(--songs-bg);
      display: flex;
      flex-direction: column;
      border-radius: 3%;
      .bg {
        margin: 0 auto;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
        background: var(--wrapper-bg);
        width: 2.5rem;
        height: 2.5rem;
      }
      .songName {
        font-size: 0.5rem;
        text-align: center;
        margin-bottom: 0.5rem;
      }
      .singer {
        text-align: center;
        font-size: 0.4rem;
      }
      .songInfo {
        flex: 1;
        padding: 0 0.5rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .score {
          font-size: 0.6rem;
        }
        .like {
          font-size: 1rem;
          color: #9c2215;
        }
      }
    }
    .song:nth-child(1) {
      margin-left: 0;
    }
  }
  
}