.songsContainer {
  overflow-x: auto;
  width: 100%;
  margin-top: 0.5rem;
  &::-webkit-scrollbar {
    display: none;
  }
  .songs {
    display: flex;
    transition: transform 0.5s ease;
    .song:hover .bg{
      transform: scale(1.2);
    }
    .song {
      max-width: 5rem;
      cursor: pointer;
      flex: 0 0 5rem;
      min-height: 6rem;
      margin-left: 0.5rem;
      padding-bottom: 0.1rem;
      background: var(--songs-bg);
      display: flex;
      flex-direction: column;
      border-radius: 3%;
      overflow: hidden;
      .bg {
        margin: 0 auto;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
        background: var(--wrapper-bg);
        width: 2.5rem;
        height: 2.5rem;
        transition: transform 0.3s ease; 
      }
      .songName {
        max-width: 60%;
        font-size: 0.5rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .singer {
        padding: 0 0.5rem;
        text-align: center;
        font-size: 0.4rem;
        overflow:hidden; 
        text-overflow:ellipsis;
        display:-webkit-box; 
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2; 
      }
      .songInfo {
        flex: 1;
        padding: 0 0.5rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .score {
          font-size: 0.6rem;
        }
      }
    }
    .song:nth-child(1) {
      margin-left: 0;
    }
  }
}
