.wrapper {
  width: 100%;
  min-height: 100vh;
  .activeBg {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: url(../assets/bg4.jpg) no-repeat;
    // background-color: #a2a2a2;
    // opacity: 0.9;
    background-size: cover;
    z-index: -2;
  }
}
.carousel {
  width: 90%;
  padding-top: 3rem;
  box-sizing: border-box;
  margin: 0rem auto;
  margin-bottom: 5rem;
  ul {
    bottom: -13px;
  }
}
// .image {
//   // background-color: #dedcdc;
// }

.container {
  padding-bottom: 3rem;
  .box {
    width: 90rem;
    margin: 0 auto;
    opacity: .9;
    background: #222222;
    // border-bottom: solid #233649 5px;
    padding: 6rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    .title {
      font-weight: bold;
      color: var(--font-color);
    }
  }
}
