.wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  box-sizing: border-box;
  background: var(--wrapper-bg);
}
.carousel {
  width: 81%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.image {
  background-color: #dedcdc;
}

.container {
  .box {
    width: 90rem;
    margin: 0 auto;
    background: #fff;
    padding: 2rem 2rem 0rem 2rem;
    box-sizing: border-box;
    .title {
      font-weight: bold;
      color: var(--font-color);
    }
  }
}
